*:not(dd) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Comic Neue', cursive;
}

.titulo {
    font-size: 55px;
    position: absolute;
    margin-left: 10px;

}

.container-image {
    width: 100%;
    height: 55vh;
    background-image: url("../assets/design-uno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    justify-content: end;
}

.container-logo {
    width: 12%;
    position: absolute;
    left: 1000px;
    top: 275px;
    /* border: 2px solid black; */
}

.container-logo img {
    width: 100%;
}

.main {
    display: flex;
}

.boton {
    width: 30%;
    display: flex;
}


/* .navegador{
    height: 100px;
    line-height: 25px;
    border: 1px solid black;
} */

.element-nav {
    height: 100%;
    margin: 30px;
    list-style: none;
}

.element-nav .home {
    text-decoration: none;
}

h2 {
    color: white;
    background-color: black;
    text-align: center;
    border: 1px solid black;
}

.text {
    display: flex;
    flex-direction: column;
}
.parrafo{
    margin-top: 25px;

}

.contacto {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 30px;
}

.email {
    padding-bottom: 20px;
}

h4, h3 {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

.detail {
    margin-left: 15px;
    margin-bottom: 25px;
}

.text, .rules{
    width: 60%;
}

.sports{
    margin: 15px;
}

.regulations{
    margin: 15px;
}

.dimensions{
    margin: 15px;
}

.competition{
    margin: 15px;
}

.fields{
    margin: 15px;
}

.letras{
    list-style-type: lower-latin;
}

.allplay{
    margin: 15px;
}

.circulo{
    list-style-type: circle;
    margin-bottom: 30px;
}
.p{
    margin: 15px;
    text-decoration: underline;
    font-size: 18px;
    font-style: italic;
}

table, tr, th, td{
    border: solid 1px black;
    padding: 12px;
    background-color: rgba(235, 226, 62, 0.575);
}

.extra{
    font-size: 20px;
    margin: 15px;
}

.contact{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
}